<div class="grid-container">
  <h1 class="mat-h1">Available Jobs</h1>
  <mat-grid-list cols=1 rowHeight="450px">
    <mat-grid-tile *ngFor="let job of dataProvider; let i = index;" [colspan]=1>
      <app-job-card [job]="job" [jobIndex]="i" (dismissJob)="dismissJobHandler($event)"></app-job-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
