<div class="grid-container">
  <mat-card class="search-card">
    <mat-card-header class="search-card-header">
      <div mat-card-avatar class="search-card-header-image">
        <img mat-card-image src="{{job.company.logo}}" alt="company logo">
      </div>
      <mat-card-title>{{job.title}}</mat-card-title>
      <mat-card-subtitle>{{job.company?.name}}</mat-card-subtitle>
      <mat-card-subtitle>{{job.wagePerHourInCents | centToDollar | currency:'USD' }}/hour</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="card-content">
      <div class="container" fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <app-date-range [range]="job.shifts" class="contentHeaderText"></app-date-range>
        <span class="contentHeaderText">If you take this job, you are agreeing to work all days.</span>
        <div class="firstContent">
          <app-job-dates [shifts]="job.shifts"></app-job-dates>
        </div>
        <div class="secondaryContent">
          <div>Location</div>
          <span class="linkText" (click)="findAddress(job)">{{job.company.address}}</span>
        </div>
        <div class="secondaryContent">
          <div>Branch:</div>
          <div>{{job.branch}}</div>
          <a href="tel:{{job.branchPhoneNumber}}">{{job.branchPhoneNumber}}</a>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="action-bar">
      <button mat-button (click)="dismissHandler($event)" >NO THANKS</button>
      <button mat-button>I'LL TAKE IT</button>
    </mat-card-actions>
  </mat-card>
</div>
