.grid-container {
  margin: 20px;
}

.search-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  min-height: 420px;
  max-height: 450px;
}

.search-card-header {
  padding-left: 10px;
 // padding-bottom: 10px;
  padding-right: 5px;
}

.search-card-header-image {
  padding-right: 5px;
    &
      img {
        margin-top: 0px
    }
}

.card-content {
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  min-height: 200px;
  max-height: 250px;
}

.mat-card-header {

  .mat-card-title
  {
   font-size: 15px;
  }
}

.firstContent {
  overflow-x: auto;
  max-height: 30%;
  padding-bottom: 5px;
  border-bottom: 1px solid #D0D0D0;
}

.secondaryContent {
  padding-top: 5px;
  border-bottom: 1px solid #D0D0D0;
  padding-bottom: 5px;
}

.action-bar {
  min-height: 20px;
  max-height: 30px;
  color: #69B8F9;
}

.linkText {
  cursor:pointer;
  color:#69B8F9;
  text-decoration:underline;
}

.contentHeaderText {
  font-weight: bold;
  display: block;
  padding-bottom: 2px;
}

